html, body, header, footer {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 6%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.3) 75%),
                url("imgs/img.jpg") center / cover;
    background-repeat: no-repeat;
}

@media (max-height: 380px) {
    body {
        background: linear-gradient(to bottom, rgba(0,0,0,0.8) 9%, rgba(0,0,0,0) 15%, rgba(0,0,0,0.3) 75%),
                url("imgs/img.jpg") center / cover;
    }
}
